In [35]:
import numpy as np
import pandas as pd

In [36]:
# yearno = "https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table"
# year_stats = pd.read_html(yearno)

In [37]:
# year_stats[2]

In [38]:
tables = []
for i in range (2000,2016+1, 4):
    data = pd.read_html("https://en.wikipedia.org/wiki/" + str(i) + "_Summer_Olympics_medal_table")
    tables.append(data[2])

In [39]:
for i in range (0, 4):
    print(tables[i])
    print('\n')

                   Rank               Nation  Gold  Silver  Bronze  Total
0                     1        United States    37      24      32     93
1                     2               Russia    32      28      29     89
2                     3                China    28      16      14     58
3                     4           Australia*    16      25      17     58
4                     5              Germany    13      17      26     56
..                  ...                  ...   ...     ...     ...    ...
76                   71               Kuwait     0       0       1      1
77                   71           Kyrgyzstan     0       0       1      1
78                   71            Macedonia     0       0       1      1
79                   71                Qatar     0       0       1      1
80  Totals (80 entries)  Totals (80 entries)   300     300     327    927

[81 rows x 6 columns]


                   Rank               Nation  Gold  Silver  Bronze  Total
0                     1        United States    36      39      26    101
1                     2                China    32      17      14     63
2                     3               Russia    28      26      36     90
3                     4            Australia    17      16      17     50
4                     5                Japan    16       9      12     37
..                  ...                  ...   ...     ...     ...    ...
70                   71              Eritrea     0       0       1      1
71                   71             Mongolia     0       0       1      1
72                   71                Syria     0       0       1      1
73                   71  Trinidad and Tobago     0       0       1      1
74  Totals (74 entries)  Totals (74 entries)   301     300     326    927

[75 rows x 6 columns]


                   Rank                  NOC  Gold  Silver  Bronze  Total
0                     1               China*    48      22      30    100
1                     2        United States    36      39      37    112
2                     3               Russia    24      13      23     60
3                     4        Great Britain    19      13      19     51
4                     5              Germany    16      11      14     41
..                  ...                  ...   ...     ...     ...    ...
83                   82            Mauritius     0       0       1      1
84                   82              Moldova     0       0       1      1
85                   82                 Togo     0       0       1      1
86                   82            Venezuela     0       0       1      1
87  Totals (87 entries)  Totals (87 entries)   302     303     353    958

[88 rows x 6 columns]


                   Rank                  NOC  Gold  Silver  Bronze  Total
0                     1        United States    47      27      30    104
1                     2                China    39      31      22     92
2                     3       Great Britain*    29      18      18     65
3                     4               Russia    18      21      27     66
4                     5          South Korea    13       9       8     30
..                  ...                  ...   ...     ...     ...    ...
82                   79              Morocco     0       0       1      1
83                   79         Saudi Arabia     0       0       1      1
84                   79           Tajikistan     0       0       1      1
85                   79              Vietnam     0       0       1      1
86  Totals (86 entries)  Totals (86 entries)   302     305     353    960

[87 rows x 6 columns]